<a href="https://colab.research.google.com/github/swilsonmfc/pandas/blob/main/8_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hotel Bookings

![](https://cdn.inprnt.com/thumbs/5b/fa/5bfa6a8ea6c461d1c21c0a44962968ed.jpg?response-cache-control=max-age=2628000)

# Setup

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error

import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
import statsmodels.graphics.regressionplots as regplot
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Data
* https://www.kaggle.com/jessemostipak/hotel-booking-demand

In [32]:
!wget -O hotel.zip https://github.com/swilsonmfc/pandas/blob/main/hotel.zip?raw=true

--2021-07-23 18:11:21--  https://github.com/swilsonmfc/pandas/blob/main/hotel.zip?raw=true
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/swilsonmfc/pandas/raw/main/hotel.zip [following]
--2021-07-23 18:11:21--  https://github.com/swilsonmfc/pandas/raw/main/hotel.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/swilsonmfc/pandas/main/hotel.zip [following]
--2021-07-23 18:11:21--  https://raw.githubusercontent.com/swilsonmfc/pandas/main/hotel.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1308365 (1.2M) [application/zip]
Saving to: ‘hotel.zip’

hotel.zip           100%[===================>]   1.25M  --.-KB/s    in 0.07s

2021-07-23 18:11:21 (16.9 MB/s) - ‘hotel.zip’ saved [1308365/1308365]

In [33]:
!unzip -o hotel.zip

Archive:  hotel.zip
replace hotel_bookings.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [34]:
hotel_df = pd.read_csv('./hotel_bookings.csv')

In [35]:
hotel_df

               hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119390 rows x 32 columns]

## Types

In [36]:
hotel_df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

## Missing
* Missing data here seems reasonable for the most part
* 4 missing children - Impute to median

In [37]:
hotel_df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [38]:
# Series where method vs np.where
hotel_df['children'] = hotel_df.children.where(hotel_df.children.notna(), 0)
hotel_df['country']  = hotel_df.country.fillna('UNKNOWN')
hotel_df['agent']    = hotel_df.agent.fillna('NONE')
hotel_df['company']  = hotel_df.company.fillna('NONE')

In [39]:
hotel_df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

## Outliers
* More than 10 people booked in a room
  * All cancelled
  * Agent 96 is present on 1/2 of them
* The hotel paid one person to stay there
  * Best to truncate that to $0
  * One room cost \$5,400

In [40]:
hotel_df = hotel_df[(hotel_df.adr >= 0) & (hotel_df.adr < 1000)]

# Logistic Regression

In [41]:
f = 'is_canceled ~ hotel + arrival_date_month + deposit_type'
model = smf.logit(formula=f, data=hotel_df)
fitted = model.fit()
print(fitted.summary())

Optimization terminated successfully.
         Current function value: 0.523298
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:            is_canceled   No. Observations:               119388
Model:                          Logit   Df Residuals:                   119373
Method:                           MLE   Df Model:                           14
Date:                Fri, 23 Jul 2021   Pseudo R-squ.:                  0.2061
Time:                        18:11:36   Log-Likelihood:                -62475.
converged:                       True   LL-Null:                       -78698.
Covariance Type:            nonrobust   LLR p-value:                     0.000
===================================================================================================
                                      coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                          -0.7494      0.023    -32.483      0.000      -0.795      -0.704
hotel[T.Resort Hotel]              -0.3013      0.015    -20.616      0.000      -0.330      -0.273
arrival_date_month[T.August]        0.1692      0.029      5.779      0.000       0.112       0.227
arrival_date_month[T.December]     -0.1027      0.037     -2.807      0.005      -0.174      -0.031
arrival_date_month[T.February]     -0.1886      0.035     -5.378      0.000      -0.257      -0.120
arrival_date_month[T.January]      -0.3729      0.040     -9.353      0.000      -0.451      -0.295
arrival_date_month[T.July]          0.1957      0.030      6.585      0.000       0.137       0.254
arrival_date_month[T.June]         -0.0045      0.032     -0.141      0.888      -0.067       0.058
arrival_date_month[T.March]        -0.3005      0.034     -8.904      0.000      -0.367      -0.234
arrival_date_month[T.May]          -0.0072      0.031     -0.229      0.819      -0.069       0.054
arrival_date_month[T.November]     -0.3678      0.038     -9.641      0.000      -0.443      -0.293
arrival_date_month[T.October]      -0.2030      0.033     -6.212      0.000      -0.267      -0.139
arrival_date_month[T.September]    -0.2323      0.034     -6.931      0.000      -0.298      -0.167
deposit_type[T.Non Refund]          5.9640      0.104     57.151      0.000       5.760       6.169
deposit_type[T.Refundable]         -0.0768      0.191     -0.403      0.687      -0.450       0.297
===================================================================================================

In [42]:
f = """is_canceled ~ + C(arrival_date_month, Treatment(reference='January'))
             + C(hotel, Treatment(reference='Resort Hotel')) 
             + C(deposit_type)""" 
model = smf.logit(formula=f, data=hotel_df)
fitted = model.fit()
print(fitted.summary())

Optimization terminated successfully.
         Current function value: 0.523298
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:            is_canceled   No. Observations:               119388
Model:                          Logit   Df Residuals:                   119373
Method:                           MLE   Df Model:                           14
Date:                Fri, 23 Jul 2021   Pseudo R-squ.:                  0.2061
Time:                        18:11:39   Log-Likelihood:                -62475.
converged:                       True   LL-Null:                       -78698.
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================================================================
                                                                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------------------------
Intercept                                                             -1.4236      0.034    -41.696      0.000      -1.490      -1.357
C(arrival_date_month, Treatment(reference='January'))[T.April]         0.3729      0.040      9.353      0.000       0.295       0.451
C(arrival_date_month, Treatment(reference='January'))[T.August]        0.5421      0.038     14.349      0.000       0.468       0.616
C(arrival_date_month, Treatment(reference='January'))[T.December]      0.2702      0.044      6.184      0.000       0.185       0.356
C(arrival_date_month, Treatment(reference='January'))[T.February]      0.1842      0.042      4.343      0.000       0.101       0.267
C(arrival_date_month, Treatment(reference='January'))[T.July]          0.5685      0.038     14.916      0.000       0.494       0.643
C(arrival_date_month, Treatment(reference='January'))[T.June]          0.3684      0.040      9.206      0.000       0.290       0.447
C(arrival_date_month, Treatment(reference='January'))[T.March]         0.0723      0.041      1.749      0.080      -0.009       0.153
C(arrival_date_month, Treatment(reference='January'))[T.May]           0.3657      0.039      9.282      0.000       0.288       0.443
C(arrival_date_month, Treatment(reference='January'))[T.November]      0.0051      0.045      0.112      0.911      -0.083       0.093
C(arrival_date_month, Treatment(reference='January'))[T.October]       0.1698      0.040      4.195      0.000       0.090       0.249
C(arrival_date_month, Treatment(reference='January'))[T.September]     0.1406      0.041      3.417      0.001       0.060       0.221
C(hotel, Treatment(reference='Resort Hotel'))[T.City Hotel]            0.3013      0.015     20.616      0.000       0.273       0.330
C(deposit_type)[T.Non Refund]                                          5.9640      0.104     57.151      0.000       5.760       6.169
C(deposit_type)[T.Refundable]                                         -0.0768      0.191     -0.403      0.687      -0.450       0.297
======================================================================================================================================

In [43]:
# Generate a single prediction
pred_df = pd.DataFrame([{'hotel': 'City Hotel', 'arrival_date_month': 'July', 'deposit_type': 'Refundable'}])
proba = fitted.predict(pred_df)
pred  = np.where(proba < .5, 0, 1) # Round works here too!
pred

array([0])

In [44]:
# Generate a prediction for a resort hotel in October with non-refundable ticket (Non Refund)
pred_df = pd.DataFrame([{'hotel': 'Resort Hotel', 'arrival_date_month': 'October', 'deposit_type': 'Non Refund'}])

In [45]:
# Predict over the entire dataset

In [46]:
# Produce a confusion matrix

In [47]:
# Print the classification report

# Sklearn Logistic Regression

In [48]:
# Generate a dataframe of is_canceled, lead_time, adr & deposit type
# Target variable is is_canceled

In [49]:
# Filter the dataset to Portugal (country == PRT)

In [50]:
# Preprocess deposit type as one hot encoded

In [51]:
# Train - test split

In [52]:
# Scale the lead time & adr

In [53]:
# Compute class weights for balancing

In [54]:
# Construct a Linear Regression Object & Fit to the training data
logit = LogisticRegression()
# logit.fit(...)

In [55]:
# Predict on the test dataset

In [56]:
# Print the classification report

# Sklearn Linear Regression

In [57]:
# Generate a dataframe of adr, lead_time, and country
# Target variable is adr

In [58]:
# Preprocess country as one hot encoded
# Note:  add the parameter drop_first=True to get_dummies

In [59]:
# Train - test split

In [61]:
# Construct a Linear Regression Object & Fit to the training data
lin = LinearRegression()
# lin.fit(...)

In [62]:
# Predict on the test dataset

In [63]:
# Compute the mean absolute error